html, body {
  margin: 0;
  padding: 0;
}  
body {min-height: 100vh;
display: flex;
flex-direction: column;}


.mainWrap {
	display: flex;
	flex-direction: column;
}
.productNameHeader {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	padding: 5rem 2rem 1rem 10px;
	font-weight: bold;
	max-width: 75vw;
	align-self: center;
	font-family: 'Roboto Serif', serif;
}


.imagesAndDescFlexWrap {
	display: flex;
	flex-direction: column;
	max-width: 100%;

}

.productImageWrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	overflow-x: hidden;
	width: 90%;
	height: 50vh;
	align-self: center;

}

.priceWrap {
	padding: 0 .5rem .5rem; 
	font-size: .95em;
	font-weight: light;
	font-family: 'Roboto Flex', sans-serif;
}

.savedPriceWrap {
font-size: .8em;
font-family: 'Roboto Flex', sans-serif;

}
.strikedPrice {
    padding-left: .5rem;
	font-size: 1em;
}


.img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3rem;
	max-width: 90%;;
	height: 50vh;
	align-self: center;
}

.imageFadeIn {
	width: 100%;
	height: 100%;
}
.imageFadeIn-enter {
	opacity: 0.01;
	width: 100%;
	height: 100%;
  }
  .imageFadeIn-enter-active {
	opacity: 1;
	transition: opacity 1500ms ease-in;
	width: 100%;
	height: 100%;
  }

  .imageFadeIn-enter-done {
	opacity: 1;
	width: 100%;
	height: 100%;
	;
  }
  .imageFadeIn-exit {
	opacity: 0.01;
	width: 100%;
	height: 100%;

  }
  .imageFadeIn-exit-active {
	opacity: 1;
	transition: opacity 1500ms ease-out;
	width: 100%;
	height: 100%;
  }

  .imageFadeIn-exit-done {
	opacity: 1;
	width: 100%;
	height: 100%;
  } 

.imagesliderWrap{

	height: 40vh;
	position: relative;
}


.productWrap {
	
	width: 20rem;
	height: 20rem;
	margin: 10px;
}

.descriptionWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

}

.productDescription {
	text-align: center;
}

.seeMoreWrap {
	display: flex;
	justify-content: center;
	padding: 10px;
}
.seeMoreBtn {
	width: 40vw;
	display: flex;
	justify-content: center;
	background-color: transparent;
	border-style: none;
	font-family: 'Roboto Serif', serif;
	font-size: .8em;
}

.addToCartBtnWrap {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 3rem 0;
}
.addToCartBtn {
	min-width: 60vw;
	height: 5vh;
	align-self: center;
	color: white;
	font-size: .8em;
	background-color: black;
	border-radius: 8px;
}

.cartQtyInput {
	min-width: 3rem;
	border-radius: 8px;
}

.detailsWrap {
	display: flex;
	flex-direction: column;
	width: 90%;
	width: 100%;
	border-style: none;

	height: 100%;
	

}

.detailsBoxOne {
	background-color: white;
	padding: 1.75rem;
	border-radius: .25rem;
	box-shadow: 10px 5px 10px 0 rgba(0,0,0,.1);
	padding-bottom: 50px;
	opacity: 0;
	
}

.detailsScroll {
	width: 150vh;
	height: 100%;
}
.detailsScroll-enter {
	opacity: 0;
	height: 40vh;
	overflow: hidden;
  }
  .detailsScroll-enter-active {
	opacity: 0;
	height: auto;
	height: 40vh; 
	transition:  height opacity 100ms ease-in; ;
  }

  .detailsScroll-enter-done {
	opacity: 1;
	height: 40vh;
	

	;
  }
  .detailsScroll-exit {
	max-height: 100%;
	-webkit-transition: max-height 100ms ease; 

  }
  .detailsScroll-exit-active {
	overflow: hidden;
	max-height: 100%;
  }

  .detailsScroll-exit-done {
	height: 100%;
  } 




.collapsibleDetailsBtn {
	font-size: 1.3em;
	font-weight: 600;
	width: 100%;
	height: 3.2rem;
	text-align: left;
	border-right: none;
	border-left: none;
	border-width: 1px;
	background: none;
}

li {
	padding: 11px;
}

ul {
	list-style-type: none;
}

.mayAlsoLikeWrap {
	height: 10rem;
	margin-top: 100px;
}

.mayAlsoLikeTile {
	border-style: solid;
	border-color: black;
}

.footer {
	margin-top: auto;
	padding-top: 1rem;
	
}