html, body {
  margin: 0;
  padding: 0;
}  

.locationDiv {
	border-style: solid;
	border-color: black;
}

.productNameHeader {
	border-style: solid;
	border-color: black;
}

.productNameWrap{
	border-style: solid;
	border-color: black;
}

.imagesAndDescFlexWrap {
	display: flex;
	flex-direction: column;
}

.productImageWrap{
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 50vh;
	overflow-x: hidden;
}

.clickedProductImages{
	width: 100%;
	height: 100%;
}

.productWrap {
	border-style: solid;
	border-color: black;
	width: 20rem;
	height: 20rem;
	margin: 10px;
}

.descriptionWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.productDescription {
	border-style: solid;
	border-color: black;
	text-align: center;
}

.addToCartBtnWrap {
	display: flex;
	justify-content: center;
}
.addToCartBtn {
	width: 150px;
	align-self: center;
}


.detailsWrap {
	color: blue;
	display: flex;
	justify-content: flex-start;
	width: 100%;
	background-color: grey;
}
.collapsibleDetailsBtn {
	border-color: black;
	border-style: solid;
	color: red;
	position: absolute;
	width: 100%;
	height: 2rem;
	text-align: left;
}
.detailsBoxOne {
	padding-top: 50px;
}

.mayAlsoLikeWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.mayAlsoLikeTilesWrap {
	border-style: solid;
	border-color: black;
	display: flex;
}