
.header {
	height: 50px;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	background-color: #2397BE;
	padding-bottom: .2rem;
	color: white;

}

.logoWrap {
	display: flex;
	font-size: 25px;
	flex-direction: row;
	align-self: center;
	padding-left: .5rem;

}

.cartLogoWrap {
	padding-right: .5rem;
	color: white;

}
/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */