.productsWrap {
	display: flex;
	flex-flow: column nowrap;
	border-style: solid;
	border-color: black;
}

.productTiles {
	border-style: solid;
	border-color: black;
	display: flex;
	width: 90%;
	min-height: 30vh;
	margin: 5vw;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.imgWrap {
	display: flex;
	justify-content: center;
}
.productTilesImage {
	height: 100%;
	width: 80%;
	border-style: solid;
	border-color: black;
}
/** {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}*/
.detailsWrap {
	color: blue;
	display: flex;
	justify-content: flex-start;
	width: 100%;
;}
.collapsibleDetailsBtn {
	border-color: black;
	border-style: solid;
	color: red;
	position: absolute
}