h1 {
	font-size: 1.2em;
	padding-left: .25rem;
	font-family: 'Lato', sans-serif;
	border-style: solid none;
	width: 7rem;
	margin-left: .25rem;
	border-width: 1px;
	border-color: #A3A3A3;
	padding: .25rem;
}
.itemAmtAndTotal {
	padding-top: 3em;
}
.topOrderSummaryWrap {
	display: flex;
	flex-direction: column;
	padding: .25rem;
}
.topOderSummaryValues {
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}
.topCheckoutBtnWrap {
	display: flex;
	justify-content: flex-end;
	align-self: center;
	width: 98%;
}
.cartBodyWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.parsedCartMasterWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartWrap {
	width: 50vw;
	max-width: 30rem;
	margin: 1rem;
	display: flex;
	flex-direction: column;
	min-height: 60vh;
	border-radius: 8px;
	width: 80vw;
}
.userCartProductImages {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}
.cartProductsName {
	text-align: center;
	font-size: 1.25em;
}
.cartProductsPriceQtyWrap {
	display: flex;
	flex-direction: column;
	height: 12vh;
}
.cartQtyInput {
	width: 50px;
	text-align: center;
	border-radius: 0;
}
.qtyBtnUp {
	width: 50px;
	height:100%;
	text-align: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbe2ea;
	font-weight: bold;
}
.qtyBtnDown {
	width: 50px;
	height:100%;
	text-align: center;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbe2ea;
	font-weight: bold;
}
.qtyBtnDown:active {
	background-color: #AFE1FD;
}
.qtyBtnUp:active {
	background-color: #AFE1FD;
}
input {
	border-style: solid;
	border-width: 1px;
	border-color: #dbe2ea;
	font-weight: bold;
}
.productImg {
	max-width: 20rem;
	height: 100%;
}
.cartProductInfoWrap {
	display: flex;
	flex-direction: column;
}
.cartProductsDescriptionWrap {
	border-style: solid none none;
	border-color: #A3A3A3;
	border-width: 1px;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	font-family: 'Lato', sans-serif;
	margin: 0 .5rem;
}
.cartProductsPriceQtyWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Lato', sans-serif;
}
.qtyChangeWrapper {
}
.orderSummaryWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-style: solid;
	border-color: #A3A3A3;
	border-width: 1px;
	padding: .5rem;
	font-family: 'Lato', sans-serif;
	min-height: 50vh;
	margin: 1rem;
	border-radius: 8px;
	width: 80vw;
	max-width: 30rem;
}
.summaryValues {
	text-align: center;
}
.orderSummaryheader {
	border-style: none none solid;
	border-color: #A3A3A3;
	border-width: 1px;
	width: 50%;
	margin-left: .25rem;
	text-align: center;
}
.itemQtyWrap {
	border-style: none none solid;
	border-color: #A3A3A3;
	border-width: 1px;
	display: flex;
	justify-content: space-evenly;
	padding: .8rem;
	width: 80%;
	align-self: center;
}
.salesTaxWrap {
	border-style: none none solid;
	border-color: #A3A3A3;
	border-width: 1px;
	display: flex;
	justify-content: space-evenly;
	padding: .8rem;
	width: 80%;
	align-self: center;
}
.totalPriceWrap {
	border-style: none none solid;
	border-color: #A3A3A3;
	border-width: 1px;
	display: flex;
	justify-content: flex-start;
	padding: .8rem;
	width: 80%;
	align-self: center;
}
.cartWrap {
	border-style: solid;
	border-color: #A3A3A3;
	border-width: 1px;
	height: 100%;
	margin-bottom: 5vh;
	padding: .5rem;
}
.mainCheckoutBtnWrap {
	display: flex;
	justify-content: center;
	width: 100%;
}
.checkoutBtn {
	min-width: 10rem;
	height: 5vh;
	color: white;
	font-size: .9em;
	background-color: black;
	border-radius: 5px;
	letter-spacing: -.01em;
	margin: 1rem;
}
.checkoutBtn:active {
	background-color: #166088;
}
/* * {
	background: #000 !important;
	color: #0f0 !important;
	outline: solid #f00 1px !important;
}
*/
@media ( min-width:480px ) {
	.totalPriceWrap {
		justify-content: center;
   }
}
@media ( min-width:768px ) {
	.topCheckoutBtnWrap {
		justify-content: flex-start;
		width: 30%;
		max-width: 15rem;
   }
	.checkoutBtn {
		width: 100%;
		max-width: 28rem;
   }
	.cartProductsDescriptionWrap {
		margin: 0 5rem;
   }
}
@media ( min-width:1024px ) {
	.masterWrap {
		display: flex;
   }
	.cartQtyInput:hover {
		cursor: none;
   }
	.cartWrap {
		max-width: 45rem;
		height: 100%;
		min-height: 50vh;
   }
	.orderSummaryWrapper {
		max-width: 45rem;
   }
	.otherProductsWrap {
		margin-top: 5rem;
		align-items: flex-start;
   }
	.wrapForDesktopCotherProductsWrapange {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100% 
   }
	.checkoutBtn {
		max-width: 30rem;
   }
	.checkoutBtn:hover {
		cursor: pointer;
   }
	.qtyBtnUp:hover {
		cursor: pointer;
   }
	.qtyBtnDown:hover {
		cursor:pointer;
   }
}
