.itemAmtAndTotal {
	border-style: solid;
	border-color: black;
}

.cartBodyWrapper {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.cartWrap {
	width: 100%;
	margin: 1rem;
	display: flex;;
}

.userCartProductImages {
	border-style: solid;
	border-color: black;
}

.cartQtyInput {
	width: 50px;
	text-align: center;
}
.cartProductInfoWrap {
	display: flex;
	flex-direction: column;
}
.cartProductsDescriptionWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
}

.cartProductsPriceQtyWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}


.orderSummaryWrapper {
	border-style: solid;
	border-color: black;
}

.itemQtyWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.salesTaxWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.totalPriceWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.cartWrap {
	border-style: solid;
	border-color: black;
	height: 100%;
	margin-bottom: 5vh;
}