h1 {
	font-size: 1.2em;
}
.itemAmtAndTotal {
	padding-top: 3em;
	border-style: solid;
	border-color: black;
}

.cartBodyWrapper {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.parsedCartMasterWrap {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartWrap {
	width: 80%;
	margin: 1rem;
	display: flex;
	flex-direction: column;
}

.userCartProductImages {
	width: 100%;
	height: 10rem;
	display: flex;
	justify-content: center;
}
.cartQtyInput {
	width: 50px;
	text-align: center;
}

.productImg {
	max-width: 20rem;
	height: 100%;

}
.cartProductInfoWrap {
	display: flex;
	flex-direction: column;
}
.cartProductsDescriptionWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	
}

.cartProductsPriceQtyWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}


.orderSummaryWrapper {
	border-style: solid;
	border-color: black;
}

.itemQtyWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.salesTaxWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.totalPriceWrap {
	border-style: solid;
	border-color: black;
	display: flex;
	justify-content: space-between;
}

.cartWrap {
	border-style: solid;
	border-color: black;
	height: 100%;
	margin-bottom: 5vh;
}
/* 
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */